<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create a New Quote</title>
  </head>
  <body>
    <h1>Add a New Quote</h1>

    <form method="post" action="/quotes">
      <div style="width: 20em;">
        <input
          style="width: 100%"
          type="text"
          name="quote"
          id="quote"
          placeholder="Please enter your quote"
        />

        <input type="submit" value="Add" />
      </div>
    </form>
  </body>
</html>
