<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Movie Quotes</title>
  </head>
  <body>
    <h1>Movie Quotes</h1>

    <ul>
      <% for (const quote of quotes) { %>
      <li><%= quote.quote %></li>
      <% } %>
    </ul>

       
        

  </body>
</html>
